<%= link_to("<< Back home>>", books_path, :class => 'back link')%>

<div class="books edit">
  <h2>Update Book</h2>

  <%= form_for(@book) do |f| %>

    <table summary="Book form fields">
      <tr>
        <th>Title</th>
        <td><%= f.text_field(:title) %></td>
      </tr>
      <tr>
        <th>Author</th>
        <td><%= f.text_field(:author) %></td>
      </tr>
      <tr>
        <th>Genre</th>
        <td><%= f.select(:genre,['Romance','Horror','Comedy','Sci-Fi']) %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><%= f.text_field(:price) %></td>
      </tr>
      <tr>
        <th>Published Date</th>
        <td><%= f.date_select(:published_date, :start_year => Time.now.year - 70, :use_two_digit_numbers => true, :order => [:month, :day, :year]) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Update Book") %>
    </div>

  <% end %>
</div>

